<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rootMainMenu</key>
	<dict>
		<key>ordinal</key>
		<integer>0</integer>
		<key>hidden</key>
		<false/>
		<key>identifier</key>
		<string>tab1</string>
		<key>title</key>
		<string>Меню</string>
		<key>iconName</key>
		<string>Icon.png</string>
		<key>viewControllerClassName</key>
		<string>MenuViewController</string>
		<key>quickMenu</key>
		<array>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>0</integer>
				<key>title</key>
				<string>Quick element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>TableMenuViewController</string>
				<key>subitems</key>
				<array>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>0</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>1</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>2</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>3</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>1</integer>
				<key>title</key>
				<string>Quick element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>2</integer>
				<key>title</key>
				<string>Quick element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
		</array>
		<key>rootMenu</key>
		<array>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>0</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>TableMenuViewController</string>
				<key>subitems</key>
				<array>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>0</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>1</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>2</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
					<dict>
						<key>hidden</key>
						<false/>
						<key>ordinal</key>
						<integer>3</integer>
						<key>title</key>
						<string>Element</string>
						<key>iconName</key>
						<string>menu-icon.png</string>
						<key>viewControllerClassName</key>
						<string>ControllerVC</string>
						<key>subitems</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>1</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>2</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>3</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
			<dict>
				<key>hidden</key>
				<false/>
				<key>ordinal</key>
				<integer>5</integer>
				<key>title</key>
				<string>Root element</string>
				<key>iconName</key>
				<string>menu-icon.png</string>
				<key>viewControllerClassName</key>
				<string>ControllerVC</string>
				<key>subitems</key>
				<array/>
			</dict>
		</array>
	</dict>
</dict>
</plist>
